@import url('https://fonts.googleapis.com/css2?family=Chango&family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chango&display=swap');
* {
    padding: 0;
    margin: 0;
    outline: none;
    font-family: 'PT Serif', serif;
    font-weight: 500;
    font-size: 35px;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("https://1.bp.blogspot.com/-m2lSp6Jovpk/XkITF-q6vbI/AAAAAAAACSY/NcXFcevVoBUA1EK-DT9O7CsFN77CGaKuQCLcBGAsYHQ/s1600/wallpaper%2B4K.png");
  background-size: cover; ;
}
input {
    margin: 5px;
    border: none;
    border-radius: 3px;  
}
input[type=text] {
    width: calc(100% - 4px);
    height: 40px;
    color: black;
    font-family: 'PT Serif', serif;
    
}
input[type=button] {
    width: 90px;
    height: 90px;
    transition: ease 0.2s;
    cursor: pointer;
    border-radius: 60%;
    border-color: #f825dc;
    
}
 

div#calculadora div {
    display: flex;
}

input[type=button]:hover {
    filter: brightness(50%);
}
input[type=button]:active {
    transform: scale(0.9);
}
.signature{
  float: right;
  width: 200px;
  margin: 4em; 
  
}
.botao {
  border: 4px solid black;
  opacity: 0.8;
}
 
.flex{
  margin-top: 1em;
  display: flex;
  justify-content: space-around; 
}

.signature{
  float: right;
  width: 200px;
  margin: -0.3em; 
}
h1{
  color: white;
  text-align:center;
  font-family: 'Chango', cursive;
  color: #3900d4;
  font-size: 46px;
}